
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using FlowerPower.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Bestellen</h3>
    <div class="container-fluid">
        @{
            string artikelprijs;
            foreach (artikel artikelen in ViewBag.products)
            {
                if(artikelen.prijs.ToString().Length == 7)
                {
                    artikelprijs = artikelen.prijs.ToString().Substring(0, 5);
                }
                else
                {
                    artikelprijs = artikelen.prijs.ToString().Substring(0, 4);
                }

                if (artikelen.actief != true)
                {
                    //hij is inactief. Laat hem niet zien
                }
                else
                {
                <div class="col-sm-3" style="margin-top: 50px;">

                    @if (artikelen.image == null)
                    {
                        <img src="~/images/artikels/imgnotfound.png" width="197,5" height="197,5" /><br />
                    }
                    else
                    {
                        <img src="@Url.Content("~/images/artikels/" + artikelen.image)" alt="Image" width="197,5" height="197,5" /><br />
                    }

                    Naam: @artikelen.artikelnaam <br />
                    Prijs: €@artikelprijs <br />

                        @if (User.Identity.IsAuthenticated)
                        {
                            using (Html.BeginForm("Buy", "Cart", new { id = @artikelen.artikelid }, FormMethod.Post, null))
                            {
                                    <p>
                                        Aantal: <input type="number" name="quant" id="quant" min="1" max="100" step="1" value="1">
                                        <center>
                                            <input class="btn btn-primary" type="submit" value="In winkelmand" style="margin-top: 10px;" />
                                        </center>
                                    </p>
                            }
                        }                           

                </div>
                }
            }
        }
    </div>
</body>
</html>