@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <center><h1>Flower Power</h1></center>
    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/img/Filiaal1.jpg" style="height: 300px; width: 300px;" />
    </div>
    <div class="col-md-4">
        Flower Power is een bloemist die haar deuren opende in 1994 in het hartje van Amsterdam. Door de jaren heen is Flower Power uitgegroeid tot een keten van bloemenwinkels in Amsterdam, Den Haag, Rotterdam en Utrecht
    </div>
    <div class="col-md-4">
        <img src="~/Content/img/Filiaal2.jpg" style="height: 300px; width: 300px;" />
    </div>
</div>